.imgtitulo{
    width: 100px
}
body{
    text-align: center;
    background-color: rgb(138, 28, 28);
    color: white;
}
.texto1{
    text-align: left;
}
.mundos{
    width: 300px
}
.ragnarok{
    width: 300px;
}
a{
    color: white
}
a:hover{
    color: rgb(5, 5, 180)
}
.nome{
    text-align: left;
}
.nome2{
    text-align: left
}
.nome3{
    text-align: left
}
.nome4{
    text-align: left;
}
.nome5{
    text-align: left;
}
.nome6{
    text-align: left;
}
.nome7{
    text-align: left;
}
.nome8{
    text-align: left;
}
.nome9{
    text-align: left;
}
.norte{
    text-align: center;
}
.norte2{
    text-align: center;
}
.norte3{
    text-align: center;
}
.norte4{
    text-align: center;
}
.sul{
    text-align: left;
}
.sul2{
    text-align: left;
}
.sul3{
    text-align: left;
}
.sul4{
    text-align: left;
}
.sul5{
    text-align: left;
}
.sul6{
    text-align: left;
}
.sul7{
    text-align: left;
}
.sul8{
    text-align: left;
}
.sul9{
    text-align: left;
}
.sul10{
    text-align: left;
}
.sul11{
    text-align: left;
}
.sul12{
    text-align: left;
}
.ponto{
    text-align: left;
}
.festa{
    text-align: left;
}
.festa2{
    text-align: left;
}